.todo-list {
	height: 80vh;
	overflow-y: auto;
}

.todo-list-container {
	margin-left: 15px;
	padding-right: 10px;
}

.todo-list {
	scrollbar-color: var(--card-bg-color) transparent;
	scrollbar-width: thin;
}

.todo-card:not(:first-child) {
	margin-top: 10px;
}

.create-card-btn {
	width: 100%;
	margin-top: 15px;
}
