.light-theme {
	--bg-color: #fff;
	--card-bg-color: #afafaf;
	--text-color: #353535;
	--btn-color: #b8cfff;
	--input-bg-color: #afafaf;
	--select-bg-color: #afafaf;
}

.dark-theme {
	--bg-color: #1b1b1b;
	--card-bg-color: #646464;
	--text-color: #fff;
	--btn-color: #3574fa;
	--input-bg-color: #646464;
	--select-bg-color: #646464;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	height: 100vh;
	padding: 2rem;
	background-color: var(--bg-color);
	color: var(--text-color);
}
